body {
    background-color: rgb(17, 24, 65);
}
p {
    color: rgb(126, 158, 240);
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: inline;
    padding: 10px;
    float:inline-start;
}
.pfp_wrap {
    background-color: rgb(33, 46, 113);
    padding: 10px;
    border-radius: 15%;
    float: left;
}
.summary {
    background-color: rgb(33, 46, 113);
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    float: left;
    
}
